################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dotnet.Events/v16
/src/Dotnet.Events.Sample/bin/Debug/netcoreapp3.0
/src/Dotnet.Events.Sample/obj
/.vs/Dotnet.Events/DesignTimeBuild
